*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: Poppins;
    font-weight: 500;
}

:root{
    --bg-color:#080808;
    --text-color: white;
    --main-color: #aa27ff;
}
body{
    background-color: var(--bg-color);
    color: var(--text-color);
}
header section{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #080808;
    padding: 1.2rem;
}
header section span a{
    color: var(--main-color);
    margin-left: 4rem;
}

header section span:hover{
    transform: scale(1.1);
    transition: 0.3s ease;
    text-shadow: 0 0 22px var(--main-color);
}
header div ul{
    display: flex;
    gap: 1rem;
    margin-right: 2rem;
}
header div ul li a{
    color: var(--text-color);
}
header div ul li a:hover{
    color: var(--main-color);
    animation: 0 0 25px ease-in-out;
    border-bottom: 3px solid var(--main-color);
}
